.main__container {
  width: 100%;
  height: fit-content;
  min-height: 100%;
  .search__container {
    padding: 5%;
    mat-form-field {
      width: 100%;
    }
  }
  .user__error {
    padding-top: 20px;
    color: red;
  }
  .search_buttons {
    .cear--button {
      margin-left: 10px;
    }
  }
  .total--users {
    text-align: right;
    font-size: 14px;
    color: gray;
  }
}
// Responsive design

@media (min-width: 768px) {
  .search__container {
    width: 50%;
    margin-left: 25%;
  }
}
